__pycache__

# Ignore virtual environment folder
.venv/

# ignore dataset folder
AGAR_dataset
Train_Test_Split
check_out
# testing only for accessing the dataset
image_acc.ipynb

#testing script
dimension_extraction_TESTING.ipynb

#whole dataset testing folder
directory


runs
checking
previous_training
.vs